[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-bcrypt = "*"
flask-login = "*"
simplejson = "==3.17.0"
flask-cors = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.7"
